.recipes-container li {
  list-style: none;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  justify-content: space-between;
}

.recipes-container .recipe-name {
  text-decoration: none;
  color: #000;
}

.recipes-container p {
  margin-left: 1em;
}

.recipes-container > li > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes-container a:nth-child(2) {
  text-decoration: none;
  color: #000;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 2rem;
  pointer-events: none;
  border-width: 0.5rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.5rem + 2px);
  left: calc(-2.25rem + 2px);
  width: 1rem;
  height: 1rem;
  transition: left 0.15s ease-in-out, transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  left: 0.75rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  left: 0.75rem;
  transform: translateX(0.75rem);
}

.top-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe-show-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
}

.recipe-show-page h2 {
  text-align: center;
  margin: 2rem 0;
}
